@page "/login"
@inherits Login_razor;
    @* <div class="space stars1"></div> *@
    @*     <div class="space stars2"></div> *@
    @*     <div class="space stars3"></div> *@

<EditForm Model="loginRequest" OnValidSubmit="Authentication">
   
    <div class="login-page">
        <div class="form">
            <InputText class="form_input" @bind-Value="loginRequest.UserName" type="text" placeholder="email"/>
            <InputText class="form_input" @bind-Value="loginRequest.Password" type="password" placeholder="password"/>
            <button class="form_button_login" type="submit">login</button>
            <DataAnnotationsValidator/>
            <ValidationSummary/>
        </div>
    </div>
    
</EditForm>

@if (!String.IsNullOrEmpty(NotificationText))
{
    <Notification @ref="Notification" Text="@NotificationText" StyleType="@NotificationType" DisplayNotification="@DisplayNotification"></Notification>
}
