@page "/vocabulary"
@inherits Vocabulary_razor

<AuthorizeView>
    <Authorized>
        <div class="container-fluid">
            <div class="row">
                <div class="col">

                    <div class="row mr-0">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-9 d-flex">
                                    <input class="word border border-dark rounded-3" placeholder="word" @bind="NewWord"/>
                                    <button type="button" class="btn btn-primary btn-word-operation rounded-3" @onclick="TranslateWord">translate</button>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col d-flex">
                                    <input class="word  border border-dark rounded-3" placeholder="translate" @bind="NewTranslate"/>
                                    <button type="button" class=" btn btn-success btn-word-operation rounded-3" @onclick="AddWord">add</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 border border-dark rounded-3">
                            <p class="text-dark">Translation :</p>
                            <div class="">
                                @WordForTranslation
                                <br/>
                                @WordTranslation
                            </div>
                        </div>
                       

                    </div>

                    <WordsTable Words="Words" DeleteWord="DeleteWord" UpdateWord="UpdateWord" SayWord="SayWord" SearchWord="SearchWord" SearchTranslatedWord="SearchTranslatedWord"></WordsTable>

                </div>
            </div>
        </div>
        <DeleteConfiraation @ref="DeleteConfirmation" onCancel="onCancel" onConfirm="ConfirmDelete">
            <div class="text-danger"> Do you want ot delete { @WordToBeDeleted.WordText }?</div>
        </DeleteConfiraation>

        <UpdateWord @ref="UpdatedWord" onCancel="onCancel" Update="ConfirmUpdate">
            <div class="mb-3">
                <label>Word</label>
                <input @bind="WordToBeUpdated.WordText" class="form-control" placeholder="word"/>
            </div>
            <div class="mb-3">
                <label>Tranlation</label>
                <input @bind="WordToBeUpdated.Translation" class="form-control" placeholder="translation"/>
            </div>
        </UpdateWord>

    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>