
@if (DisplayNotification)
{
    <div class="@_classStyle notification">
        <span class="ml-2">@Text</span>
    </div>
}

@code {

    [Parameter]
    public string Text { get; set; }
    
    [Parameter] 
    public NotificationType StyleType { get; set; }
    
    [Parameter]
    public bool DisplayNotification { get; set; } = false;

    private string _classStyle;
    private string _textStyle;
   

    protected override void OnInitialized()
    {
        setClassStele();
    }

    private void setClassStele()
    {
        
            switch (StyleType)
            {
                case NotificationType.Success:
                    _classStyle = "bg-success text-white ";
                    break;
                case NotificationType.Danger:
                    _classStyle = "bg-danger text-white ";
                    break;
                case NotificationType.Warning:
                    _classStyle = "bg-warning text-dark ";
                    break;
                case NotificationType.Info:
                    _classStyle = "bg-info text-dark ";
                    break;
            }
            
            InvokeAsync(StateHasChanged);
        
        
    }
    // public void Show()
    // {
    //     setClassStele();
    //     DisplayNotification = true;
    // }
    //
    // public void Hide() => DisplayNotification = false;

}